@import "abstracts/variables";
@import "abstracts/mixins";

table {
  width: 90%;
  @include relCenterX;
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

.cdk-column-Details {
  width: 300px;
}

.mat-form-field {
  @include relCenterX;
  width: 80%;
}

.input {
  color: $color-light;
}