table {
  width: 100%;
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

.cdk-column-Details {
  width: 300px;
}

.mat-form-field {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.input {
  color: #fff;
}