<section class="detail">
    <div class="flex-center">
        <mat-card class="main" *ngIf="!pokemon && !loading">
            <mat-card-header>
                <mat-card-title id="not-found">Pokémon not found!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <section class="text-center">
                    Please try again. <a routerLink="/" class="color-light">Go to initial table</a>
                </section>
            </mat-card-content>
        </mat-card>
        <mat-card class="main" *ngIf="pokemon && !loading">
            <mat-card-header>
                <mat-card-title>{{pokemon['Name']}}</mat-card-title>
                <mat-card-subtitle>
                    <mat-chip-list>
                        <mat-chip *ngFor="let type of pokemon['Types']" class="type type__{{type | lowercase}}">{{type}}
                        </mat-chip>
                    </mat-chip-list>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <section class="description" style="display: flex;">
                    <img mat-card-image src="assets/img/{{+pokemon['Number']}}.png" class="image">
                    <p style="flex: 0 0 1; width: 400px; padding: 0 1rem;">Descrição: {{pokemon['About']}}</p>
                </section>
                <section class="information">
                    <p>Resistências:
                        <mat-chip-list>
                            <mat-chip *ngFor="let resistant of pokemon['Resistant']"
                                class="type type__{{resistant | lowercase}}">{{resistant}}</mat-chip>
                        </mat-chip-list>
                    </p>
                    <p>Fraquezas:
                        <mat-chip-list>
                            <mat-chip *ngFor="let weaknesses of pokemon['Weaknesses']"
                                class="type type__{{weaknesses | lowercase}}">{{weaknesses}}</mat-chip>
                        </mat-chip-list>
                    </p>
                    <div class="flex">
                        <div style="flex: 1">
                            Ataques rápidos:
                            <ul>
                                <li *ngFor="let fastAttack of pokemon['Fast Attack(s)']">
                                    <mat-chip class="type type__{{fastAttack.Type | lowercase}}">{{fastAttack.Type}}
                                    </mat-chip>
                                    {{fastAttack.Name}} (<span class="damage-fast">{{fastAttack.Damage}}</span>)
                                </li>
                            </ul>
                        </div>
                        <div style="flex: 1">
                            Ataques especiais:
                            <ul>
                                <li *ngFor="let specialAttack of pokemon['Special Attack(s)']">
                                    <mat-chip class="type type__{{specialAttack.Type | lowercase}}">
                                        {{specialAttack.Type}}
                                    </mat-chip>
                                    {{specialAttack.Name}} (<span class="damage-special">{{specialAttack.Damage}}</span>)
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="flex-center" *ngIf="pokemon && !loading">
        <mat-card class="secondary" *ngFor="let evolution of pokemon['Next evolution(s)']">
            <mat-card-header>
                <mat-card-title>{{evolution['Name']}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <section class="description" class="flex-column">
                    <img mat-card-image src="assets/img/{{+evolution['Number']}}.png" class="image">
                    <button mat-raised-button color="primary"
                        (click)="goToDetail(+evolution['Number'])">Details</button>
                </section>
            </mat-card-content>
        </mat-card>
    </div>
</section>