@import "abstracts/variables";

.mat-card {
  display: inline-block;
  margin: 1rem;
  &.main {
    width: $width-card-main;
    max-width: $max-width-card-main;
    animation: moveInRight .5s ease-out;
  }
  &.secondary {
    width: $width-card-secondary;
    max-width: $max-width-card-secondary;
    animation: moveInBottom 1s ease-out;
  }
}
.mat-chip {
  border-radius: 5px;
  min-height: 25px;
}
.type {
  border-radius: 5px;
  min-height: 25px;
  align-items: center;
  cursor: default;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 1px 10px;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 5px;
  &__fire {
    background-color: $color-type-fire;
  }
  &__normal {
    background-color: $color-type-normal;
  }
  &__water {
    background-color: $color-type-water;
  }
  &__grass {
    background-color: $color-type-grass;
  }
  &__electric {
    background-color: $color-type-electric;
  }
  &__ice {
    background-color: $color-type-ice;
  }
  &__fighting {
    background-color: $color-type-fighting;
  }
  &__poison {
    background-color: $color-type-poison;
  }
  &__ground {
    background-color: $color-type-ground;
  }
  &__flying {
    background-color: $color-type-flying;
  }
  &__psychic {
    background-color: $color-type-psychic;
  }
  &__bug {
    background-color: $color-type-bug;
  }
  &__rock {
    background-color: $color-type-rock;
  }
  &__ghost {
    background-color: $color-type-ghost;
  }
  &__dragon {
    background-color: $color-type-dragon;
  }
  &__dark {
    background-color: $color-type-dark;
  }
  &__steel {
    background-color: $color-type-steel;
  }
  &__fairy {
    background-color: $color-type-fairy;
  }
}
.image {
  width: $img-width;
  max-width: $img-max-width;
  height: $img-height;
  padding: 1rem;
  margin: 0 auto;
}
