// apenas exemplos
$color-light: #ffffff;

$width-card-main: 500px;
$width-card-secondary: 200px;
$max-width-card-main: 85%;
$max-width-card-secondary: 30%;

$img-width: 120px;
$img-max-width: 80%;
$img-height: 100px;

$color-type-fire:   #ee7f33;
$color-type-normal: #a9a778;
$color-type-water:  #6890f0;
$color-type-grass:  #78c84f;
$color-type-ice:    #98d8d7;
$color-type-poison: #a040a1;
$color-type-ground: #e0c069;
$color-type-flying: #a790ef;
$color-type-bug:    #a8b821;
$color-type-rock:   #b6a037;
$color-type-ghost:  #705797;
$color-type-dragon: #724ef9;
$color-type-dark:   #6f5848;
$color-type-steel:  #b8b8d0;
$color-type-fairy:  #f4c8e2;
$color-type-psychic: #e95587;
$color-type-electric: #f8cf32;
$color-type-fighting: #c03228;