.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-column {
    display: flex; 
    flex-direction: column;
}
.text-center {
    text-align: center;
}
.color-light {
    color: $color-light;
}
.damage {
    &-special {
        color: $color-damage-special;
    }
    &-fast {
        color: $color-damage-fast;
    }
}
